*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}



ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}


:root {
    --main-text-color: #FFF;
    --btn-color: #FF4E50;
}



.div-conteiner {
    cursor: pointer;
}

.paragraf13 {
    margin-top: -22px;
    margin-left:-867px;
    color: #ffffff;
        text-align: center;
        font-size: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
}

.diving1 {
margin-top: 30px;
margin-left: 900px;
    width: 71px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.butonn1 {
    margin-top: -20px;
    margin-left: 1000px;
width: 93px;
    height: 39px;
    border-radius: 19px;
            background-color: transparent;
                border: 2px solid white;
                color: #ffffff;
}



.paragraf2 {
    margin-left: 400px;
    width: 508px;
    margin-top: 150px;
    color: #FFF;
        text-align: center;
        font-size: 52px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
}



.paragraf3 {
    margin-left: -104px;
    margin-top: 35px;
    color: #FFF;
        text-align: center;
        font-size: 24px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
}




.header1 {
    background-image: url(./img/desk-header.jpg);
    background-repeat: no-repeat;
    width: 1440px;
        height: 700px;
        margin-top: -30px;
}



.butonn--div {
    margin-top: 50px;
    margin-left: 540px;
    width: 228px;
        height: 43px;
        flex-shrink: 0;
        border-radius: 30px;
        color: #ffffff;
        background-color: #FF4E50;
}




.paragraf--mein {
    margin-top: 80px;
    color: #333;
        text-align: center;
        font-size: 32px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 770;
        line-height: normal;
}


.img--blockmain1 {
    margin-top: 70px;
    margin-left: 271px;
}



.paragraf-1 {
    width: 135px;
    margin-top: 15px;
    margin-left: 270px;
    color: #333;
        font-size: 17px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}



.paragraf-2 {
    margin-top: 20px;
    margin-left: 210px;
    width: 224px;
    color: #666;
        text-align: center;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}



.imgbox {
    display: flex;
    margin-left: 500px;
    margin-top: -200px;
    width: 120px;
        height: 120px;
        flex-shrink: 0;
}

.paragrafimg5 {
    margin-left: -240px;
    margin-top: 10px;
    color: #333;
        text-align: center;
        font-size: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}



.paragrafimg6 {
    margin-top: 3px;
    margin-left: 430px;
    width: 241px;
    color: #666;
        text-align: center;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}



.boximg {
    display: flex;
    margin-top: -210px;
    margin-left: 760px;
}


.paragrafin3 {
    margin-top: 12px;
    margin-left: 300px;
    color: #333;
        text-align: center;
        font-size: 14.011px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}


.paragraf4 {
    margin-left: 700px;
    margin-top: 13px;
    width: 247.024px;
    color: #666;
        text-align: center;
        font-size: 14.011px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}




.imgbox5 {
    display: flex;
    margin-top: -190px;
    margin-left: 1000px;
}



.paragrafing7 {
    margin-top: 15px;
    margin-left: 780px;
    color: #333;
        text-align: center;
        font-size: 17.011px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}




.paragrafing8 {
    width: 224.024px;
    margin-left: 970px;
    margin-top: 12px;
    color: #666;
        text-align: center;
        font-size: 14.011px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}



.batton-mobile {
    margin-left: 600px;
    margin-top: 60px;
        border-radius: 20px;
        width: 195px;
            height: 43px;
            flex-shrink: 0;
                border: 2px solid #FF4E50;
                background-color: #ffffff;
                color: #FF4E50;
}

@media screen and (max-width: 480px) {
.div-conteiner {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
}



.diving1 {
    position: absolute;
        width: 71px;
        top: -12px;
        left: -50px;
margin-left: 130px;
        flex-direction: column;
        justify-content: flex-end;
        flex-shrink: 0;
        color: #ffffff;
            text-align: center;
            font-size: 13.986px;
            font-family: Montserrat;
            font-weight: 700;
}



.butonn1 {
    margin-top: 60px;
    margin-left: 120px;
    width: 102px;
        height: 39px;
        border-radius: 30px;
        background-color: transparent;
            border: 2px solid white;
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
}



.header1 {
    background-image: url(./img/img.jpg);
    width: 320px;
        height: 540px;
        margin-top: -50px;
        margin-left: 10px;
        background-repeat: no-repeat;
        background-size: cover;
} 


.paragraf13 {
    margin-left: 10px;
    margin-top: 100px;
    color: #ffffff;
        text-align: center;
        font-size: 18px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;

}


.paragraf2 {
    margin-left: 10px;
    margin-top: 10px;
    color: #FFF;
    width: 306.026px;
        text-align: center;
        font-size: 20.041px;
        font-family: Montserrat;
        font-weight: 700;
        text-transform: uppercase;
}


.paragrafin3 {
    margin-top: -2px;
    margin-left: 40px;
    width: 247.026px;
    color: #333;
        text-align: center;
        font-size: 18.025px;
    font-family: Montserrat;
        font-weight: 300;
}



.butonn--div {
    margin-top: 20px;
    width: 282px;
        height: 43px;
        margin-left: 20px;
        border-radius: 20px;
        color: #FFF;
        background-color: #FF4E50;
}

.paragraf--mein {
    width: 288.006px;
margin-left: 20px;
    margin-top: 50px;
    color: #333;
        text-align: center;
        font-size: 22.004px;
        font-family: Montserrat;
        font-weight: 700;
}





.img--blockmain1 {
width: 120px;
    height: 120px;
    margin-top: 27px;
margin-left: 100px;
}


.paragraf-1 {
margin-left: 90px;
    color: #333;
        text-align: center;
        font-size: 17.011px;
        font-family: Montserrat;
        font-weight: 700;
}


.paragraf-2 {
    margin-top: 10px;
    color: #666;
    margin-left: 45px;
    width: 224.024px;
        text-align: center;
        font-size: 15.011px;
        font-family: Roboto;
        font-weight: 300;
}


.boximg {
    margin-top: 30px;
    margin-left: 100px;
}


.paragraf3 {
    width: 247.026px;
    margin-top: 15px;
    margin-left: 40px;
    color: #ffffff;
        text-align: center;
        font-size: 15.011px;
        font-family: Montserrat;
        font-weight: 700;
}



.paragraf4 {
    margin-top: 10px;
    color: #666;
    margin-left: 45px;
    width: 247.024px;
        text-align: center;
        font-size: 15.011px;
        font-family: Roboto;
        font-weight: 300;
}

.imgbox {
    margin-top: 20px;
    margin-left: 100px;
}


.imgbox {
    margin-top: 20px;
    margin-left: 100px;
}

.paragrafimg5 {
    margin-left:  -22px;
    color: #333;
        text-align: center;
        font-size: 16.007px;
        font-family: Montserrat;
        font-weight: 700;
}


.paragrafimg6 {
    margin-top: 10px;
    width: 241.016px;
    margin-left: 50px;
    color: #666;
        text-align: center;
        font-size: 15.007px;
        font-family: Roboto;
        font-weight: 300;
}



.imgbox5 {
    margin-top: 20px;
    margin-left: 100px;
}

.paragrafing7 {
    margin-top: 10px;
    margin-left: -10px;
    color: #333;
        text-align: center;
        font-size: 14.007px;
        font-family: Montserrat;
        font-weight: 700;
}


.paragrafing8 {
    margin-top: 10px;
    margin-left: 50px;
    width: 224.016px;
    color: #666;
        text-align: center;
        font-size: 14.007px;
        font-family: Roboto;
        font-weight: 300;
}


.batton-mobile {
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 23px;
    width: 280px;
        height: 40px;
        flex-shrink: 0;
        border: 2px solid #FF4E50;
        background-color: #ffffff;
        color: #FF4E50;
}
} 